body {
    margin: 0%;
}

#mainScreen {
    min-width: 100vw;
    min-height: 80%;
}

#mainScreen > img {
    min-width: 100vw;
    min-height: 80%;
}

nav {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90vw;
    background-color: white;
    box-shadow: 0em 0.5em 0.5em 0em rgb(59, 59, 59);
    border-radius: 2em;
    z-index: 1;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin: 2em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#centerMain {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 20%;
    text-align: center;
    margin: auto;
    color: aqua;
}

#centerMain > button {
    width: 15vw;
    height: 10vh;
    background-color: white;
    box-shadow: 0em 0.5em 0.5em 0em rgb(59, 59, 59);
    border-radius: 2em;
}

#secondScreen > h1 {
    color: gray;
    font-size: medium;
    margin: 1%;
    margin-left: 4em;
    width: 35%;
    text-align: left;
}

#secondScreen > h2 {
    color: black;
    font-size: xx-large;
    margin: 1%;
    margin-left: 2em;
    width: 35%;
    text-align: left;
}

span {
    display: inline-block;
    width: 30vw;
    height: 30vh;
    margin: 1.5%;
}

.smallPic {
    width: 30vw;
    height: 30vh;
    box-shadow: 0em 0.5em 0.5em 0em rgb(59, 59, 59);
}

#thirdScreen {
    margin-top: 10%;
}

#thirdScreen > h1 {
    font-size: large;
    color: grey;
    margin-left: 5%;
    margin-bottom: -2%;
}

#thirdScreen > h2 {
    font-size: xx-large;
    color: black;
    margin-left: 5%;
}

#popUp {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0% 7.5% 7.5% 7.5%;
}

#popUp > img {
    border-radius: 2em;
    box-shadow: 0em 0.5em 0.5em 0em rgb(137, 137, 137);
}

#popUp > h3 {
    position: absolute;
    left: 7em;
    bottom: -50em;
    width: 4em;
    height: 2em;
    background-color: white;
    box-shadow: 0em 0.5em 0.5em 0em rgb(137, 137, 137);
    border-radius: 2em;
    text-align: center;
    padding-top: 0.5em;
    z-index: 1;
}

#sidePopUp {
    align-items: left;
    margin-left: 1.5em;
}

